# Coleta de Dados no MySQL utilizando o R

#### Para mais detalhes sobre a biblioteca RMariaDB consulte:
* https://cran.r-project.org/web/packages/RMariaDB/RMariaDB.pdf

##### Instalar o pacote RMariaDB

In [5]:
# Instalar o pacote RMariaD se for a primeira vez que for utlizar.

install.packages("RMySQL")

package 'RMySQL' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Kleber Lima\AppData\Local\Temp\RtmpodLYYJ\downloaded_packages

##### Importar o pacote RMariaDB

In [1]:
#importação do pacote deve ser SEMPRE realizada

#Importa pacote RMariaDB se ele ainda não foi carregado
if(!"RMySQL" %in% (.packages())){require(RMySQL)}

Loading required package: RMySQL
Warning message:
"package 'RMySQL' was built under R version 3.6.3"Loading required package: DBI
Warning message:
"package 'DBI' was built under R version 3.6.3"

**Observação 1:** A mensagem abaixo não indica um erro, é um alerta indicando a versão do R no qual o pacote RMariaDB foi construindo.

*Loading required package: RMariaDB
Warning message:
"package 'RMariaDB' was built under R version 3.6.3"*

**Observação 2:** A mensagem abaixo indica um erro, alertando que não existe o pacote RMariaDB instalado. Para corrigir, instale o pacote.

*Loading required package: RMariaDB
Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
"there is no package called 'RMariaDB'"*

In [2]:
library(RMySQL)

In [43]:
#Conecta ao SGBD MySQL --> Banco de dados bootcamp
con <- dbConnect(MySQL(), user = "root", password = "*M3G4M4N",
                 dbname = "bootcamp", host = "localhost",serverTimezone='UTC')

**OBS:** Caso ocorra o erro abaixo: 
*Error: Failed to connect: Plugin caching_sha2_password could not be loaded: The specified module could not be found.*

Acesse seu SGBD MySQL Server utilizando o MySQL Workbench e execute o comando abaixo no seu esquema de BD

    ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'igti';

Agora execute o comando de conexão novamente.

In [4]:
#Para listar quais tabela existem no esquema .bootcamp. execute:

#Lê a lista de tabelas no BD
tables <- dbListTables(con) 
tables

[1] "caracteristicageralimovel" "caracteristicasgerais"
[3] "cidade"                    "estado"
[5] "imovel"                    "tipounidade"

In [30]:
#Para consultar quais os dados de uma tabela execute:
# dbReadTable(nome-da-conexao,"nome-da-tabela")

#Consulta os dados da tabela *estado*
tabledata <- dbReadTable(con,"estado")
tabledata

     CodEstadoIBGE NomeEstado SiglaEstado Regiao

**OBS:** Veja que o resultado do comando acima demonstra que a tabela 'estado' não possue dados.

In [31]:
#Consulta os dados da tabela *tipounidade*
tabledata <- dbReadTable(con,"tipounidade")
tabledata

  idTipoUnidade dscTipoUnidade
1 1             Casa
2 2             Casa geminada
3 3             Apartamento tipo
4 4             Apartamento cobertura
5 5             Apartamento área privativa
6 6             Flat
7 7             Loft
8 8             Chácara

**OBS:** Veja que o resultado do comando acima demonstra que a tabela 'tipounidade' possue alguns dados.

In [14]:
#Para executar um comando SQL execute:
#dbSendQuery(nome-da-conexao,"comando")

# Vamos inserir uma nova linha na tabela tipounidade
# Cria o comando e salva na variável query
query <-  "INSERT INTO tipounidade(idTipoUnidade,dscTipoUnidade) VALUES(7,'Loft');"

results <- dbSendQuery(con,query)
print(results)

# Limpa resultados
dbClearResult(results)

<MySQLResult:72039784,0,9>

[1] TRUE

**OBS 1:** Caso ocorra o erro: *Error: Duplicate entry '6' for key 'tipounidade.PRIMARY' [1062]*

Isso significa que você violou a chave primária, ou seja, tentou inserir uma chave que já existe. Confira o valor da chave que esta inserindo, altere, e execute novamente.

**OBS 2:** Caso ocorra o erro: *Error: Column count doesn't match value count at row 1 [1136]*
Isso significa que você esta inserindo dados não compatíveis com a definição da tabela.

In [32]:
dbExistsTable(con, "tipounidade")

[1] TRUE

In [16]:
#Consulta os dados da tabela *tipounidade*
tabledata <- dbReadTable(con,"tipounidade")
tabledata

  idTipoUnidade dscTipoUnidade
1 1             Casa
2 2             Casa geminada
3 3             Apartamento tipo
4 4             Apartamento cobertura
5 5             Apartamento área privativa
6 6             Flat
7 7             Loft

In [17]:
id <- 8
desc <- 'Chácara'

query <-  paste("INSERT INTO tipounidade(idTipoUnidade,dscTipoUnidade) VALUES(",id,",'",desc,"');",sep='')

results <- dbSendQuery(con,query)
print(results)

# Limpa resultados
dbClearResult(results)

<MySQLResult:72196400,0,12>

[1] TRUE

In [33]:
#Consulta os dados da tabela *tipounidade*
tabledata <- dbReadTable(con,"tipounidade")
tabledata

  idTipoUnidade dscTipoUnidade
1 1             Casa
2 2             Casa geminada
3 3             Apartamento tipo
4 4             Apartamento cobertura
5 5             Apartamento área privativa
6 6             Flat
7 7             Loft
8 8             Chácara

##### Instalar o pacote xlsx

In [20]:
install.packages('xlsx')

also installing the dependencies 'rJava', 'xlsxjars'

package 'rJava' successfully unpacked and MD5 sums checked
package 'xlsxjars' successfully unpacked and MD5 sums checked
package 'xlsx' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Kleber Lima\AppData\Local\Temp\Rtmpg5sGts\downloaded_packages

##### Importar o pacote xlsx

In [19]:
#Importa pacote xlsx se ele ainda não foi carregado
if(!"xlsx" %in% (.packages())){require(xlsx)}

Loading required package: xlsx
Warning message:
"package 'xlsx' was built under R version 3.6.3"

In [26]:
#Antes de excutar esta célula, garanta que o caminho do arquivo estados.xlsx esteja correto.

filename <- "D:/praticas/datasets/XLS/estados.xlsx"
print(filename)

insertdata <- read.xlsx(filename, sheetIndex=1, header=TRUE,encoding="UTF-8")
print("Lista de estados existentes no arquivo:")
insertdata

[1] "D:/praticas/datasets/XLS/estados.xlsx"
[1] "Lista de estados existentes no arquivo:"

   CodEstadoIBGE nomeestado          siglaestado regiao
1  11            Rondónia            RO          Norte
2  12            Acre                AC          Norte
3  13            Amazonas            AM          Norte
4  14            Roraima             R           Norte
5  15            Pará                PA          Norte
6  16            Amapá               AP          Norte
7  17            Tocantins           TO          Norte
8  21            Maranhão            MA          Nordeste
9  22            Piauí               PI          Nordeste
10 23            Ceará               CE          Nordeste
11 24            Rio Grande do Norte RN          Nordeste
12 25            Paraíba             PB          Nordeste
13 26            Pernambuco          PE          Nordeste
14 27            Alagoas             AL          Nordeste
15 28            Sergipe             SE          Nordeste
16 29            Bahia               BA          Nordeste
17 31            Minas Gerais        MG          Sudeste
18 32            Espírito Santo      ES          Sudeste
19 33            Rio de Janeiro      RJ          Sudeste
20 35            São Paulo           SP          Sudeste
21 41            Paraná              PR          Sul
22 42            Santa Catarina      SC          Sul
23 43            Rio Grande do Sul   RS          Sul
24 50            Mato Grosso do Sul  MS          Centro-Oeste
25 51            Mato Grosso         MT          Centro-Oeste
26 52            Goiás               GO          Centro-Oeste
27 53            Distrito Federal    DF          Centro-Oeste

**OBS:** As colunas da tabela estado são: *CodEstadoIBGE,NomeEstado,SiglaEstado,Regiao*

In [34]:
dbWriteTable(con,'estado',insertdata, row.names=FALSE,append = TRUE)

[1] TRUE

In [35]:
#Consulta os dados da tabela *estado*
results <- dbReadTable(con,"estado")
results

   CodEstadoIBGE NomeEstado          SiglaEstado Regiao
1  11            Rond?nia            RO          Norte
2  12            Acre                AC          Norte
3  13            Amazonas            AM          Norte
4  14            Roraima             R           Norte
5  15            Par                 PA          Norte
6  16            Amap                AP          Norte
7  17            Tocantins           TO          Norte
8  21            Maranh              MA          Nordeste
9  22            Piau                PI          Nordeste
10 23            Cear                CE          Nordeste
11 24            Rio Grande do Norte RN          Nordeste
12 25            Para?ba             PB          Nordeste
13 26            Pernambuco          PE          Nordeste
14 27            Alagoas             AL          Nordeste
15 28            Sergipe             SE          Nordeste
16 29            Bahia               BA          Nordeste
17 31            Minas Gerais        MG          Sudeste
18 32            Esp?rito Santo      ES          Sudeste
19 33            Rio de Janeiro      RJ          Sudeste
20 35            S?o Paulo           SP          Sudeste
21 41            Paran               PR          Sul
22 42            Santa Catarina      SC          Sul
23 43            Rio Grande do Sul   RS          Sul
24 50            Mato Grosso do Sul  MS          Centro-Oeste
25 51            Mato Grosso         MT          Centro-Oeste
26 52            Goi                 GO          Centro-Oeste
27 53            Distrito Federal    DF          Centro-Oeste

In [36]:
query <- "SELECT * FROM estado;"

results <- dbSendQuery(con,query)
results

**Obs:** O retorno do comando *dbSendQuery* indica que se o comando SQL passado para a variável *query* foi executado com sucesso ou não.

In [70]:
# Limpa resultados
dbClearResult(results)

results <- dbGetQuery(con,query)
results

[1] TRUE

  CodEstadoIBGE NomeEstado SiglaEstado Regiao
1 15            Par        PA          Norte
2 22            Piau       PI          Nordeste
3 25            Para?ba    PB          Nordeste
4 26            Pernambuco PE          Nordeste
5 41            Paran      PR          Sul

In [38]:
# Verifique se o caminho do arquivo existe.

#Salvar o resultado da query no arquivo CSV
write.csv(results,"D:/praticas/datasets/CSV/estadosDB.csv",row.names=FALSE,quote=FALSE)

#Realizar o commit
#dbCommit(con)

In [39]:
# Desconectar do banco de dados
dbDisconnect(con)

[1] TRUE

## A partir daqui você deve alterar seu notebook conforme orientações da atividade 8 do enunciado do trabalho prático.

Nas células abaixo foram deixadas algumas dicas para você seguir.

##### 1º) Importar as bibliotecas RMariaDB

In [ ]:
#Se você já importou anteriormente e não resetou seu kernel, não será necessário importar

##### 2º) Fazer a conexão com seu banco de dados

In [83]:
#Conecta ao SGBD MySQL --> Banco de dados bootcamp
con <- dbConnect(MySQL(), user = "root", password = "*M3G4M4N",
                 dbname = "bootcamp", host = "localhost",serverTimezone='UTC')
#Lê a lista de tabelas no BD
tables <- dbListTables(con) 
tables

[1] "caracteristicageralimovel" "caracteristicasgerais"
[3] "cidade"                    "estado"
[5] "imovel"                    "tipounidade"

##### 3º) Abrir o arquivo 'caracteristicasgerais.csv'

In [60]:
filename <- "D:/praticas/datasets/CSV/caracteristicasgerais.csv"
print(filename)

insertData <- read.csv(filename, header=TRUE, sep=",", encoding = "UTF-8")
print("Lista de caracteristicas existentes no arquivo:")
insertData

[1] "D:/praticas/datasets/CSV/caracteristicasgerais.csv"
[1] "Lista de caracteristicas existentes no arquivo:"

   idcaracteristicasGerais dsccaracteristicasGerais
1   4                      Sal<e3>o de festas
2   5                      <c1>rea gourmet
3   6                      <c1>gua individual
4   7                      G<e1>s canalizado
5   8                      Aquecimento solar
6   9                      Vaga coberta
7  10                      Vaga livre
8  11                      Arm<e1>rios na cozinha
9  12                      Closet
10 13                      Arm<e1>rios no quarto

##### 4º) Inserir dados na tabela 'caracteristicasgerais'

In [57]:
dbWriteTable(con, value = insertData, row.names = FALSE, name = 'caracteristicasgerais', append=TRUE)

[1] TRUE

##### 5º) Consultar a tabela 'caracteristicasgerais' para verificar se os dados foram inseridos corretamente.

In [61]:
#Consulta os dados da tabela *caracteristicasgerais*
results <- dbReadTable(con,"caracteristicasgerais")
results

   idcaracteristicasGerais dsccaracteristicasGerais
1   1                      Portaria 24 horas
2   2                      Elevador
3   3                      Piscina
4   4                      Salãoo de festas
5   5                      Área gourmet
6   6                      Água individual
7   7                      Gás canalizado
8   8                      Aquecimento solar
9   9                      Vaga coberta
10 10                      Vaga livre
11 11                      Armários na cozinha
12 12                      Closet
13 13                      Armários no quarto

##### Pergunta 1 - Quantos registros são retornados ao executar o seguinte comando sql no banco de dados após ter povoado a tabela de estados: SELECT * FROM estado WHERE NomeEstado like 'P%':

In [75]:
query <- "SELECT * FROM estado WHERE NomeEstado like 'P%';"

results <- dbSendQuery(con,query)
results

In [76]:
# Limpa resultados
dbClearResult(results)

results <- dbGetQuery(con,query)
results

[1] TRUE

  CodEstadoIBGE NomeEstado SiglaEstado Regiao
1 15            Par        PA          Norte
2 22            Piau       PI          Nordeste
3 25            Para?ba    PB          Nordeste
4 26            Pernambuco PE          Nordeste
5 41            Paran      PR          Sul

##### Pergunta 2 - Após executar todos os passos do enunciado do trabalho prático e ter povoado todas as tabelas do banco de dados, qual o total de registros da tabela ‘caracteristicasgerais’?

In [77]:
query <- "SELECT COUNT(*) FROM caracteristicasgerais;"

results <- dbSendQuery(con,query)
results

In [78]:
dbClearResult(results)

results <- dbGetQuery(con,query)
results

[1] TRUE

  COUNT(*)
1 13

##### Pergunta 3 - Crie uma consulta sql para verificar a quantidade de imóveis cadastrados no estado de RS. Após executar esse sql, qual o valor retornado?

In [79]:
query <- "SELECT COUNT(*) AS qtdeImovel FROM imovel
INNER JOIN cidade ON cidade.CodigoCompletoIBGE = imovel.CodigoCompletoIBGE
INNER JOIN estado ON estado.CodEstadoIBGE = cidade.CodEstadoIBGE
WHERE estado.SiglaEstado = 'RS';"

results <- dbSendQuery(con,query)
results

In [80]:
dbClearResult(results)

results <- dbGetQuery(con,query)
results

[1] TRUE

  qtdeImovel
1 8

##### Pergunta 5 - Qual das opções abaixo NÃO pode ser utilizada para recuperar todos os dados da tabela estado?

In [81]:
query <- "SELECT CodEstadoIBGE, NomeEstado, SiglaEstado, Regiao FROM estado;"

resultado <- dbSendQuery(con,query)
resultado

##### Pergunta 6 - Marque a alternativa que NÃO serve para incluir dados em uma tabela do seu banco de dados MySQL (como a tabela “caracteristicasgerais”) utilizando a linguagem R.

In [84]:
query <- "INSERT INTO caracteristicasgerais(idcaracteristicasGerais, dsccaracteristicasGerais) 
            VALUES (4, 'Salão de festas');"

dbWriteTable(con, value = query, row.names = FALSE,
             name = 'caracteristicasgerais', append=TRUE)

ERROR: Error in normalizePath(path.expand(path), winslash, mustWork): path[1]="INSERT INTO caracteristicasgerais(idcaracteristicasGerais, dsccaracteristicasGerais)
            VALUES (4, 'Salão de festas');": A sintaxe do nome do arquivo, do nome do diretório ou do rótulo do volume está incorreta

##### Pergunta 13 - Utilizando a linguagem R, qual o comando para fechar a conexão com um banco de dados mysql?

In [85]:
# Desconectar do banco de dados
dbDisconnect(con)

[1] TRUE